:root {
  --h2-header-footer-size: 0.75em;
  --secondary-color: #b7b7b7;
  --primary-color: #696969;

  /* Base Colors */
  --light-yellow: #ffff78;
  --dark-yellow: #caca49;
  --darker-yellow: #eeee33;
  --lighter-yellow: #fafa9e;
  --light-white: #fcfcfa;
  --white: #f9f9f6;
  --black: #1a1a1a;
  --gray-light: #d3d3d3;
  --gray-medium: #8f8e8e;

  /* Accent Colors */
  --dark-red-muted: #913434;
  --red-muted: #ea0a0a;
  --blue-muted: #4a708b;
  --light-blue-muted: #7598b1;
  --dark-green-muted: #416b53;
  --green-muted: #739d84;
  --light-green-muted: #97cdac;
  --yellow-muted: #ecead5;
  --ochre-muted: #c19a6b;

  /* Miscellaneous */
  --border-color: #e9e8e8;

  --radius-size: 5px;
  --small-text-size: 0.75em;
}

body {
    background-color: var(--white);
}

a {
  text-decoration: none;
}

h1{
  color: var(--black);
}

.bx{
  font-size: 1.75em;
  position: relative;
  top: 0.2em;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.news-tile {
  border: 1px solid var(--border-color);
  padding-bottom: 10px;
  border-radius: var(--radius-size);
  height: 12em;
  background-color: var(--light-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-tile a{
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: flex-start;
}

.news-tile p{
  margin: 0;
  font-family: 'Inria Serif', serif;
  font-size: 1em;
  font-weight: 700;
  padding-left: 1em;

  background-color: var(--light-white);
  flex-shrink: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
}

.news-tile img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 10px;
  flex-shrink: 0;
  height: 68%;
  border-top-left-radius: var(--radius-size);
  border-top-right-radius: var(--radius-size);
}

#recent-news-section .news-tile a img{
  max-height: 10em;
}

#recent-news-section .news-tile{
  margin-bottom: 2em;
}

.news-tile h2 {
  font-size: 1.2em;
  margin: 0;
}

.homepage-style{
  display: flex;
  justify-content: space-between;
}

.homepage-style .news-tile{
  width: 45%;
}

.homepage-wrapper{
  display: grid;
  grid-template-areas: "first sidebar" "sec sec";
  grid-template-columns: 1fr 22em;
  margin-inline: 4em;
  column-gap: 3em;
}

#first-image{
  width: 100%;
  height: 20em;
  object-fit: cover;
  object-position: center;
}

button{
  border: none;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

button i{
  margin-right: 5px;
}

button[type="button"]:hover{
  background-color: var(--dark-green-muted);
  color: var(--light-yellow);
}

button[type="button"]:hover span{
  color: var(--light-yellow);
}

.title{
  font-weight: 500;
  font-size: 1.15em;
}

.not-available-container{
  width: 100%;
  height: 20em;
  border: 3px dashed var(--border-color);
  border-radius: var(--radius-size);
  align-content: center;
  justify-items: center;
  margin-inline: auto;
  margin-bottom: 2em;
}

input, textarea{
  height: 3.3em;
  border: 1px solid var(--gray-medium);
  border-radius: var(--radius-size);
  background-color: var(--white);
  color:var(--black)
}

input:focus{
  border-bottom: 2px solid  var(--black);
  outline: none;
}

input[type="file"]{
  display: flex;
  background-color: var(--light-white);
  align-items: center;
  padding-right: 0.5em;
}

input[type="file"]::file-selector-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
}

.large-rectangle{
  border-radius: var(--radius-size);
}

.large-rectangle, input[type="file"]::file-selector-button{
  background-color: var(--green-muted);
  padding: 0.75rem 1rem;
  list-style: none;
}


input[type="file"]::file-selector-button:hover{
  background-color: var(--dark-green-muted);
  color: var(--light-yellow);
}

.small-rectangle{
  background-color: var(--light-green-muted);
  padding-block: 0.5em;
  height: fit-content;
  list-style: none;
  border-radius: var(--radius-size);
  padding-inline: 0.75em;
}

.small-rectangle > i{
 margin-right: 5px;
}

.ligth-green{
  background-color: var(--light-green-muted);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  background: var(--black);
  color: var(--white);
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
  position: static;
  width: auto;
  height: auto;
}

.content {
  flex: 1;
}

button .bx{
  font-size: 1.5em;
}

textarea{
  width: 100%;
}

.ligth-green{
  background-color: var(--light-green-muted);
}

.greener{
  background-color: var(--green-muted);
  font-weight: 400;
}

.greener:hover{
  background-color: var(--dark-green-muted);
  color: var(--light-yellow);
}

.yellow{
  background-color: var(--yellow-muted);
}

.yellow-button{
  background-color: var(--dark-yellow);
  font-weight: 400;
}

.red-button{
  background-color: var(--red-muted);
  font-weight: 400;
}

.red-button:hover{
  background-color: var(--dark-red-muted);
  color: var(--light-yellow);
}

select{
  background-color: var(--white);
  height: 3em;
  width: 15em;
  border: 1px solid var(--gray-medium);
  border-radius: var(--radius-size);
  color: var(--black);
}

select option:checked{
  background-color: var(--dark-yellow);
}

select option:hover{
  background-color: var(--dark-yellow);
}

button.h2 span{
  font-weight: 600;
}

button.p span{
  display: block;
  margin-block: 1em;
  margin-inline: 0px;
  
}