@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.breadcrumbs{
    margin-top: 1em;
}

.thin {
    font-weight: 300;
}

.article-title{
    font-family: 'Inria Serif', serif;
    margin-bottom: 0;
    font-size: 2em;
    padding-bottom: 0.3em;
}

.article-credits{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-text{
    font-size: var(--small-text-size);
    font-weight: 300;
}

.border-bottom{
    border-bottom: 2px solid var(--secondary-color);
}

.tags{
    margin-block: 1em;   
}

.tags span:not(:first-of-type){
    margin-inline: 0.5em;
}

.article-more-news-wrapper{
    display: flex;
    margin-inline: 4em;
    column-gap: 3em;
}

.article-section{
    flex: 3;
}

.article-votes{
    width: fit-content;
    padding-block: 0;
    display: flex;
    justify-self: end;
    margin-block: 0;
    height: 2em;
    align-items: center;
}

.article-votes i{
    top: 0;
}

.news-article{
    display: grid;
}

#report-button{
    padding-block: 0.5em;
    height: fit-content;
}

.article-image{
    object-fit: cover;
    width: 100%;
    height: 20em;
    object-position: center;
}

.news-tab-section{
    flex: 1;
    grid-area: sidebar;
    position: relative;
    top: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    margin-bottom: 3em;
}

.first-article {
    grid-area: first;
    display: grid;
    padding-top: 3em;
    padding-bottom: 3em ;
}

.sec-articles {
    grid-area: sec;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3em;
    row-gap: 2em;
    justify-content: space-between;
    margin-bottom: 4em;
}

.sec-articles .news-tile{
    height: 15em;
}

.sec-articles .news-tile img{
    height: 12em;
}

.float-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    top: -14.15em;
}

.homepage-style .news-tile .float-container{
    display: none;
}