#contacts-header{
    background-color: #f1f1f1;
    padding-block: 6em;
}

#contacts-header h1{
    margin: 0;
}

#contacts-header div{
    width: 50%;
   position: relative;
   left: 10em;
}

#contacts-content{
    display: flex;
    justify-content: space-between;
    column-gap: 3em;
    margin-inline: 5em;
    margin-bottom: 2em;
}

#contacts-content div{
    width: 30%;
    padding-block: 2em;
    border-color: var(--secondary-color);
    border-width: 1px;
    border-style: solid;
    background-color: white;
    position: relative;
    top: -3em;
    text-align: center;
}

#contacts-content div .bx{
    font-size: 3em;
}