.suggestions {
    border: 1px solid var(--secondary-color);
    max-height: 15em;
    overflow-y: auto;
    position: absolute;
    width: 0;
    background-color: white;
    z-index: 1000;
}
 
/*Para o create-article só*/
#tag-create-article-suggestions{
    top: 38.3em;
    left: 10.2em;
    width: 0;
}

#tag-create-article-suggestions.show{
    width: 12em;
}
/* -------------------------*/

#tag-suggestions{
    top: 8.5em;
    left: 3.5em;
}

#tag-suggestions.show{
    width: 18.3em;
}

#topic-suggestions{
    top: 13em;
    left: 4.3em;
}

#topic-suggestions.tag-open{
    top: 15.1em;
}

#topic-suggestions.show{
    width: 17.5em;
}

.suggestion {
    padding-block: 0.25em;
    padding-inline: 1em;
    cursor: pointer;
}

.suggestion:hover {
    background-color: var(--secondary-color);
}

.selected {
    grid-area: selected;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    max-width: 21em;
}

.block {
    background-color: var(--secondary-color);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    display: flex;
    align-items: center;
}

.remove {
    margin-left: 0.10em;
    cursor: pointer;
    font-size: 1.2em;
}