.suggestions {
    border: 1px solid var(--secondary-color);
    max-height: 15em;
    overflow-y: auto;
    position: absolute;
    width: 0;
    background-color: var(--white);
    z-index: 1000;
}
 
/*Para o create-article só*/
#tag-create-article-suggestions{
    top: 31.1em;
    left: 10.2em;
    width: 0;
    border-color: transparent;
}

#tag-create-article-suggestions.show{
    width: 12em;
}

/* -------------------------*/

#tag-suggestions{
    top: 8.5em;
    left: 3.8em;
}

#tag-suggestions.show{
    width: 25.2em;
}

#topic-suggestions{
    top: 13em;
    left: 4.6em;
}

#topic-suggestions.tag-open{
    top: 15.1em;
}

#topic-suggestions.show{
    width: 25.2em;
}

.suggestion {
    padding-block: 0.25em;
    padding-inline: 1em;
    cursor: pointer;
}

.suggestion:hover {
    background-color: var(--secondary-color);
}

.selected {
    grid-area: selected;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.selected-maxwidth{
    max-width: 21em;
}

.block {
    background-color: var(--green-muted);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    display: flex;
    align-items: center;
}

.remove {
    margin-left: 0.10em;
    cursor: pointer;
    font-size: 1.2em;
}



/* Dropdown button styles */
.btn-group .dropdown-toggle {
    margin-top: 1em;
}

.dropdown-item {
    padding: 0.5em 1em;
    font-size: 1em;
}
