footer{
    background-color: var(--blue-muted);
    justify-content: space-between;
    display: flex;
    column-gap: 5em;
    padding: 1em 1.5em;
    width: -webkit-fill-available;
    width: -moz-available;
}

footer h2{
    font-size: var(--h2-header-footer-size);
}

footer h2:hover{
    color: var(--light-yellow);
}

#rights-reserved{
    flex: 5;
    text-align: right;
}

#rights-reserved .bx{
    font-size: medium;
}