@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
  margin: 0;
}

.logo{
  font-family: 'Salara', sans-serif;
  font-weight: 700;
  margin-block: 0.5em;
}

span,a,p,button,input, textarea, label{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--black);
}

h2{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

h2 i{
  margin-right: 5px;
}

h2 a{
  font-weight: 600;
  position: relative;
  top: 0.3em;
}

span.thick {
    font-weight: 600;
}

a.active{
  color: var(--light-yellow);
}

a.active-secondary{
  color: var(--darker-yellow);
}

header{
  color: var(--black);
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
}

#top-part-header,#bottom-part-header{
  column-gap: 1.5em;
  padding-inline: 1.5em;
  align-items: center;
  display: flex;
}

#top-part-header{
  background-color: var(--blue-muted);
}
#bottom-part-header{
  background-color: var(--light-blue-muted);
  justify-content: space-between;
}

#top-part-header h1{
  flex: 5;
  font-size: 1.5em;
  text-align: left;
  margin-block: 0.5em;
}

#top-part-header h2, #bottom-part-header h2{
  font-size: var(--h2-header-footer-size);
}

#top-part-header h2:hover, #bottom-part-header h2:hover, #top-part-header a:hover, #bottom-part-header a:hover, #all-topics-button:hover span{
  color: var(--light-yellow);
}

@media (max-width: 768px) {
  .topic{
    display: none;
  }

  #top-part-header,#bottom-part-header{
    column-gap: 0.5em;
  }
}

#profile{
  min-height: 100%;
  align-content: center;
}

#profile-button, #search-button, #all-topics-button{
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: end;
  padding: 0;
  align-items: baseline
}

#profile-button h2, .dropdown-item h2, #all-topics-button span{
  margin: 0;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
}

#profile-button h2{
  max-width: 10em;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 3.25em;
  right: 0;
  background-color: var(--light-blue-muted);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

#filter-options{
  display: none;
  padding-top: 1em;
  border-top: 1px solid var(--secondary-color);
  margin-top: 1em;
}

#filter-options.show{
  display: block;
}

.filter-option{
  display: grid;
  grid-template-areas: "name input" "selected selected";
  column-gap: 0.5em;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.filter-option label{
  grid-area: name;
}

.filter-option input{
  grid-area: input;
}

.dropdown-item {
  padding: 0.75em 0.75em;
  display: block;
}

#search-menu{
  top: 5.9em;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
}

.search-container button{
  background-color: var(--green-muted);
  border-radius: var(--radius-size);
}

.search-container button:hover{
  background-color: var(--dark-green-muted);
}

.search-container button:hover span{
  color: var(--light-yellow);
}

.search-container button i{
  top: 0.5em;
}

#all-topics-button + .dropdown-menu{
  top: 5.9em;
  right: 5em;
}

#search-select-menu{
  background-color: var(--light-white);
  list-style-type: none;
  width: max-content;
  padding: 0.5em 1em 0.1em 0.5em ;
  text-align: start;
  right: 29.5em;
  top: 0em;
}


#search-select-menu label{
  position: relative;
  top: -1.3em;
  font-size: 0.85em;
  margin-right: 1em;
}