@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body{
  margin: 0;
}

.logo{
  font-family: 'Salara', sans-serif;
  font-weight: 700;
  margin-block: 0.5em;
}

span,a,p,button{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h2{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

header{
  color: rgb(0, 0, 0);
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
}

#top-part-header,#bottom-part-header{
  column-gap: 1.5em;
  padding-inline: 1.5em;
  align-items: center;
  display: flex;
}

#top-part-header{
  background-color: #696969;
}
#bottom-part-header{
  background-color: var(--secondary-color);
  justify-content: space-between;
}

#top-part-header h1{
  flex: 5;
  font-size: 1.5em;
  text-align: left;
}

#top-part-header h2, #bottom-part-header h2{
  font-size: var(--h2-header-footer-size);
}

@media (max-width: 768px) {
  .topic{
    display: none;
  }

  #top-part-header,#bottom-part-header{
    column-gap: 0.5em;
  }
}

#profile{
  min-height: 100%;
  align-content: center;
}

#profile-button, #search-button{
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: end;
  padding: 0;
  align-items: baseline
}

#profile-button h2, .dropdown-item h2{
  margin: 0;
  font-size: 0.9em;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 3.25em;
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 0.75em 0.75em;
  display: block;
}

#search-menu{
  top: 6em;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

#filter-box {
  position: absolute;
  top: 50px; /* Adjust based on your layout */
  left: 0;
  width: 300px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}