.notification-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.notification-card.archived{
    background-color: #eee;
}

.date{
    text-align: right;
    color: #666;
}

.notification-card .profile-info{
    width: 85%;
}

.notification-card .profile-info.appeal-wrapper{
    width: 100%;
}

.notification-card .profile-info p {
    position: relative;
    bottom: 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-card .profile-info.appeal-wrapper p {
    white-space: pre-wrap;
}