.error-pop-up, .success-pop-up{
    position: fixed;
    bottom: 0;
    left:0;
    padding: 2em;
    border-radius: var(--radius-size);
}

.error-pop-up{
    background-color: var(--red-muted);
}

.success-pop-up{
    background-color: var(--green-muted);
}

#close-message-button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

