#trending-tags-section{
    background-color: var(--light-green-muted);
    border-radius: var(--radius-size);
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.smaller-text{
    font-weight: 300;
    font-size: 0.65em;
    margin-bottom: 0.2em;
    margin-top: 1.5em;
}

.smaller-text:first-of-type{
    margin-top: 0;
}