# OpenAPI Specification for the NewFlow System

openapi: 3.0.0

info:
  version: '1.0'
  title: NewFlow Web API
  description: Web Resources Specification (A7) for NewFlow

servers:
  - url: https://lbaw24124.fe.up.pt/
    description: Production server

externalDocs:
  description: Find more info about the EAP artifact here.
  url: https://gitlab.up.pt/lbaw/lbaw2425/lbaw24124/-/wikis/eap.md

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Individual Profile'
  - name: 'M03: News'
  - name: 'M04: Search'
  - name: 'M05: Topics and Tags'
  - name: 'M06: Comments'
  - name: 'M07: Votes'
  - name: 'M08: Report and Fact Checking'
  - name: 'M09: Administration and Static Pages'

paths:

#################################### Authentication ####################################

  /login:

    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: GUE'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show Log-in UI'

    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: GUE'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/homepage'

                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR'
      tags:
        - 'M01: Authentication'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:

    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Register a new user. Access: GUE'
      tags:
        - 'M01: Authentication'

      responses:
        '200':
          description: 'Ok. Show Sign-Up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: GUE'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
              required:
                - username
                - email
                - password
                - confirm_password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: 'Successful registration. Redirect to home page.'
                  value: '/homepage'

                302Failure:
                  description: 'Failed registration. Redirect to register form.'
                  value: '/register'

  /recover-password:

    get:
      operationId: R106
      summary: 'R106: Recover Password Form'
      description: 'Display recover password form. Access: GUE'
      tags:
        - 'M01: Authentication'
  
      responses:
        '200':
          description: 'Ok. Show Recover Password UI'

    post:
      operationId: R107
      summary: 'R107: Recover Password Action'
      description: 'Processes the password recovery form submition. Access: GUE'
      tags:
        - 'M01: Authentication'
  
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
              required:
                - email

      responses:
        '302':
          description: 'Redirect after processing recover password form submission.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: 'Successful. An email has been sent with the verification code to reset your password.'
                  value: '/recover-password'

                302Failure:
                  description: 'The email provided is not registered in our system or is unreachable! Please try again.'
                  value: '/recover-password'

  /reset-password-check:

    post:
      operationId: R108
      summary: 'R108: Reset Password Check'
      description: 'Analyses the verification code provided by the user. Access: GUE'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                verification_code:
                  type: integer
              required:
                - verification_code

      responses:
        '302':
          description: 'Redirect after the verification code check.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: 'Successful. The provided verification code is correct. Redirect to reset password form'
                  value: '/reset-password'

                302Failure:
                  description: 'Fail. The provided verification code is incorrect. Redirect to recover password form'
                  value: '/recover-password'

  /reset-password:
  
    get:
      operationId: R109
      summary: 'R109: Reset Password Form'
      description: 'Display reset password form. Access: GUE'
      tags:
        - 'M01: Authentication'
  
      responses:
        '200':
          description: 'Ok. Show Reset Password UI'

    post:
      operationId: R110
      summary: 'R110: Reset Password Action'
      description: 'Processes the password reset form submition. Access: GUE'
      tags:
        - 'M01: Authentication'
  
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                new_password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
              required:
                - new_password
                - confirm_password

      responses:
        '302':
          description: 'Redirect after processing recover password form submission.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: 'Successful. Password reset request accepted.'
                  value: '/login'

                302Failure:
                  description: 'Fail. The passwords do not match! Try again.'
                  value: '/reset-password'

################################## Individual Profile ##################################

  /profile/user/{username}:

    get:
      operationId: R201
      summary: 'R201: View user profile'
      description: 'Show the individual user profile. Access: GUE, USR'
      tags:
        - 'M02: Individual Profile'

      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true

      responses:
        '200':
          description: 'Ok. Show User Profile UI.'
        '404':
          description: 'Not Found. This user does not exist.'

  /profile/edit/{username}:

    get:
      operationId: R202
      summary: 'R202: Edit user profile Form'
      description: 'Show the edit individual user profile page. Access: OWN'
      tags:
        - 'M02: Individual Profile'

      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true

      responses:
        '200':
          description: 'Ok. Show edit profile UI.'
        '403':
          description: 'Unauthorized. You do not possess the valid credentials to access that page.'
          headers:
            Location:
              schema:
                type: string
              example:
                403Success:
                  description: 'Redirecting to home page.'
                  value: '/homepage'

    post:
      operationId: R203
      summary: 'R203: Edit user profile Action'
      description: 'Processes and saves the changes made by user. Access: OWN'
      tags:
        - 'M02: Individual Profile'

      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                display_name:
                  type: string
                email:
                  type: string
                  format: email
                description:
                  type: string
                profile_picture:
                  type: string
                  format: binary
                cur_password:
                  type: string
                  format: password
                new_password:
                  type: string
                  format: password
                confirm_password:
                  type: string
                  format: password
              required:
                - username
                - email
                - cur_password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: 'Edit successful. Redirect to individual user profile.'
                  value: '/profile/user/{username}'
                302Failure:
                  description: 'Edit failed. Redirect to edit individual user profile.'
                  value: '/profile/edit/{username}'
        '403':
          description: 'Unauthorized. You do not possess the valid credentials to edit that profile.'
          headers:
            Location:
              schema:
                type: string
              example:
                403Success:
                  description: 'Redirecting to home page.'
                  value: '/homepage'

  /profile/delete/{id}:
    post:
      operationId: R204
      summary: 'R204: Delete user profile'
      description: 'Delete the individual user profile. Access: OWN, ADM'
      tags:
        - 'M02: Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '302':
          description: 'Redirect after deleting user information.'
          headers:
            Location:
              schema:
                type: string
                example:
                  302Success:
                    description: 'Successful delete. Redirect to login form.'
                    value: '/login'

                  302Failure:
                    description: 'Failure to delete. Redirect to user profile.'
                    value: '/profile/user'
        '403':
          description: 'You do not possess the credentials for this action.'

######################################### News #########################################

  /homepage:

    get:
      operationId: R301
      summary: 'R301: View Home Page'
      description: 'Show the Home page. Access: GUE, USR'
      tags:
        - 'M03: News'
      responses:
        '200':
          description: 'Success. Display Home Feed.'

  /user-feed:

    get:
      operationId: R302
      summary: 'R302: View User News Feed'
      description: 'Show the User News Feed page. Access: USR'
      tags:
        - 'M03: News'
      responses:
        '200':
          description: 'Success. Display User News Feed.'
        '403':
          description: 'Unauthorized. You do not possess the credentials to access that page.'
          headers:
            Location:
              schema:
                type: string
              example:
                403Success:
                  description: 'Redirecting to login page'
                  value: '/login'

  /most-voted:

    get:
      operationId: R303
      summary: 'R303: View Most Voted News'
      description: 'Show the Top News page. Access: GUE, USR'
      tags:
        - 'M03: News'
      responses:
        '200':
          description: 'Success. Display Most Voted News Feed.'

  /recent-news:

    get:
      operationId: R304
      summary: 'R304: View Recent News'
      description: 'Show the Recent News page. Access: GUE, USR'
      tags:
        - 'M03: News'

      responses:
        '200':
          description: 'Success. Display Recent News Feed.'

  /article/{id}:

    get:
      operationId: R305
      summary: 'R305: View News Item'
      description: 'Show Article page. Access: GUE, USR'
      tags:
        - 'M03: News'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Success. Display Article page.'
        '404':
          description: 'Not Found. This article does not exist.'

  /create-article:

    get:
      operationId: R306
      summary: 'R306: Create News Article Form'
      description: 'Display create a new article UI. Access: USR'
      tags:
        - 'M03: News'
      responses:
        '202':
          description: 'Ok. Show create article UI.'
        '403':
          description: 'Unauthorized. You do not possess the credentials to create an article.'
          headers:
            Location:
              schema:
                type: string
              example:
                403Success:
                  description: 'Redirecting to login page.'
                  value: '/login'

    post:
      operationId: R307
      summary: 'R307: Create New Article Action'
      description: 'Create a new article. Access: USR'
      tags:
        - 'M03: News'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                subtitle:
                  type: string
                content:
                  type: string
                image:
                  type: string
                  format: binary
              required:
                - title
                - subtitle
                - content

      responses:
        '302':
          description: 'Redirect after processing the new article information.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: 'Successful. Redirect to the user profile.'
                  value: '/profile/user/{username}'

                302Failure:
                  description: 'Failed. Redirect to create article form.'
                  value: '/create_article'

  /edit-article/{id}:

    get:
      operationId: R308
      summary: 'R308: Edit article Form'
      description: 'Show the edit article page. Access: OWN'
      tags:
        - 'M03: News'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show edit article UI.'
        '403':
          description: 'Unauthorized. You do not possess the valid credentials edit this article.'

    post:
      operationId: R309
      summary: 'R309: Edit article Action'
      description: 'Processes and saves the changes made by user. Access: OWN'
      tags:
        - 'M03: News'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                subtitle:
                  type: string
                content:
                  type: string
                image:
                  type: string
                  format: binary
              required:
                - title
                - content

      responses:
        '302':
          description: 'Redirect after processing the new article information.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: 'Edit successful. Redirect to the user profile.'
                  value: '/profile/user/{username}'
                302Failure:
                  description: 'Edit failed. Redirect to edit article page.'
                  value: '/edit-article/{id}'

  /delete-article/{id}:

    post:
      operationId: R310
      summary: 'R310: Delete an article.'
      description: 'Delete an article action. Access: OWN, ADM'
      tags:
        - 'M03: News'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
              required:
                - id

      responses:
        '302':
          description: 'Redirect after deleting user information.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: 'Successful delete. Redirect to user profile'
                  value: '/profile/user/{username}'
        '403':
          description: 'You do not possess the credentials for this action.'

  /favourite-articles:
    get:
      operationId: R311
      summary: 'R311: View Favourite Articles'
      description: 'Show the favourite articles page. Access: USR'
      tags:
        - 'M03: News'
      responses:
        '200':
          description: 'Success. Display favourite articles.'

######################################## Search ########################################

  /search:
    get:
      operationId: R401
      summary: 'R401: Search'
      description: 'Show the search results page. Access: GUE, USR'
      tags:
        - 'M04: Search'
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: true
          description: 'The search query string'
      responses:
        '200':
          description: 'Success. Display search results.'
        '400':
          description: 'Bad Request. Invalid search query.'
        '500':
          description: 'Internal Server Error. Unable to process search query.'

#################################### Topics and Tags ###################################

  /following/tags:
    get:
      operationId: R501
      summary: 'R501: View Followed Tags Feed'
      description: 'Show the followed tags feed. Access: USR'
      tags:
        - 'M05: Topics and Tags'

      responses:
        '200':
          description: 'Success. Display followed tags.'

  /following/topics:
    get:
      operationId: R502
      summary: 'R502: View Followed Topics Feed'
      description: 'Show the followed topics feed. Access: USR'
      tags:
        - 'M05: Topics and Tags'

      responses:
        '200':
          description: 'Success. Display followed topics.'

  /following/authors:
    get:
      operationId: R503
      summary: 'R503: View Followed Authors Feed'
      description: 'Show the followed authors feed. Access: USR'
      tags:
        - 'M05: Topics and Tags'

      responses:
        '200':
          description: 'Success. Display followed authors feed.'

  /topic/{name}:
    get:
      operationId: R504
      summary: 'R504: View Topic'
      description: 'Show the topic page. Access: GUE, USR'
      tags:
        - 'M05: Topics and Tags'
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: 'The name of the topic'
      responses:
        '200':
          description: 'Success. Display topic page.'
        '404':
          description: 'Not Found. Topic does not exist.'

  /tag/{name}:
    get:
      operationId: R505
      summary: 'R505: View Tag'
      description: 'Show the tag page. Access: GUE, USR'
      tags:
        - 'M05: Topics and Tags'
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: 'The name of the tag'
      responses:
        '200':
          description: 'Success. Display tag page.'
        '404':
          description: 'Not Found. Tag does not exist.'

  /trending-tags:
    get:
      operationId: R506
      summary: 'R506: View Trending Tags'
      description: 'Show the trending tags page. Access: GUE, USR'
      tags:
        - 'M05: Topics and Tags'
      responses:
        '200':
          description: 'Success. Display trending tags page.'

####################################### Comments #######################################

# not part of the vertical prototype

######################################### Votes ########################################

# not part of the vertical prototype

############################### Report and Fact Checking ###############################

# not part of the vertical prototype

############################ Administration and Static Pages ###########################

  /admin-panel:
    get:
      operationId: R901
      summary: 'R901: View Admin Panel'
      description: 'Show the admin panel page. Access: ADM'
      tags:
        - 'M09: Administration and Static Pages'
      responses:
        '200':
          description: 'Success. Display admin panel.'
        '403':
          description: 'Unauthorized. You do not possess the valid credentials to access that page.'
          headers:
            Location:
              schema:
                type: string
              example:
                403Success:
                  description: 'Redirecting to home page.'
                  value: '/homepage'

  /more-users:
    get:
      operationId: R902
      summary: 'R902: View More Users'
      description: 'Show more users for the admin panel page. Access: ADM'
      tags:
        - 'M09: Administration and Static Pages'
      responses:
        '200':
          description: 'Success. Display more users in admin panel.'

  /create-user:
    post:
      operationId: R903
      summary: 'R903: Create Custom User Action'
      description: 'Create a new custom user. Access: ADM'
      tags:
        - 'M09: Administration and Static Pages'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
                display_name:
                  type: string
                password:
                  type: string
                  format: password
                reputation:
                  type: integer
                upvote_notifications:
                  type: boolean
                upvoteNotifications:
                  type: boolean
                commentNotifications:
                  type: boolean
                isAdmin:
                  type: boolean
                isFactChecker:
                  type: boolean
                image:
                  type: string
                  format: binary
              required:
                - username
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new custom user information.'
          headers:
            Location:
              schema:
                type: string
              example:
                302Success:
                  description: 'Successful. Redirect to admin panel.'
                  value: '/admin-panel'
                302Failure:
                  description: 'Failed. Redirect to admin panel.'
                  value: '/admin-panel'
        '403':
          description: 'You do not possess the credentials for this action.'

  /contacts:
    get:
      operationId: R904
      summary: 'R904: View Contacts'
      description: 'Show the contacts page. Access: GUE, USR'
      tags:
        - 'M09: Administration and Static Pages'
      responses:
        '200':
          description: 'Success. Display contacts page.'

  /about-us:
    get:
      operationId: R905
      summary: 'R905: View About Us'
      description: 'Show the about us page. Access: GUE, USR'
      tags:
        - 'M09: Administration and Static Pages'
      responses:
        '200':
          description: 'Success. Display about us page.'
